{%- assign pvd = product.vendor | downcase -%}
{%- assign pvd = pvd | replace: '%', '-percent' -%}
{%- assign pvd = pvd | replace: ' ', '-' -%}

{%- assign metaobject_brand = shop.metaobjects.marken[pvd] -%}

{% if metaobject_brand != blank and metaobject_brand.gpsr_kontakt != blank %}
  <div class="gpsr-kontakt">
    {{ metaobject_brand.gpsr_kontakt | newline_to_br }}
  </div>
{% endif %}
<div class="gpsr-kontakt" style="text-align: right; margin-left: auto; margin-right: 0; max-width: 800px; padding: 15px; background-color: #f9f9f9; border: 1px solid #ddd; border-radius: 5px;">
  {{ metaobject_brand.gpsr_kontakt | newline_to_br }}
</div>