<div class="section" >
  <div class="container">
    <h2>{{ section.settings.headline }}</h2>
    <select id="food-select" >
      <option value="" selected >{{ section.settings.selector }}</option>
    </select> 
    
    <table id="food-list">
      <thead> <tr> <td> Land </td> <td> Standard</td> <td> Spedition </td> </tr> </thead>
      <tbody></tbody>
    </table>
  </div>
</div>


<script>
const
  foodInfo = 
    [ { Name: 'Belgien', Versand1: '4,90', Versand2: '39,90' },
      { Name: 'Dänemark', Versand1: '10,00', Versand2: '39,00' },
      { Name: 'Finnland', Versand1: '10,00', Versand2: '39,90' },
      { Name: 'Frankreich', Versand1: '4,90', Versand2: '39,90' },
      { Name: 'Italien', Versand1: '4,90', Versand2: '39,90' },
      { Name: 'Niederlande', Versand1: '4,90', Versand2: '39,90' },
      { Name: 'Schweiz (Achtung: Es fallen zusätzlich Einfuhrsteuer und Zollkosten an)', Versand1: '15,00', Versand2: '39,00' },
      { Name: 'Spanien', Versand1: '10,00', Versand2: '39,90' },
      { Name: 'Österreich', Versand1: '6,90', Versand2: '39,90' },
      { Name: 'Luxemburg', Versand1: '10,00', Versand2: '39,00' },
      { Name: 'Irland', Versand1: '65,00', Versand2: '140,00' },
      { Name: 'Griechenland', Versand1: '10,00', Versand2: '39,90' },
      { Name: 'Portugal', Versand1: '10,00', Versand2: '39,90' },
      { Name: 'Schweden', Versand1: '10,00', Versand2: '39,90' },
      { Name: 'Polen', Versand1: '12,50', Versand2: '39,00' },
      { Name: 'Lettland', Versand1: '12,50', Versand2: '35,00' },
      { Name: 'Litauen', Versand1: '12,50', Versand2: 'Versand leider aktuell nicht möglich' },
      { Name: 'Malta', Versand1: '12,50', Versand2: '35,00' },
      { Name: 'Slowakei', Versand1: '12,50', Versand2: '35,00' },
      { Name: 'Slowenien', Versand1: '12,50', Versand2: '35,00' },
      { Name: 'Tschechien', Versand1: '12,50', Versand2: '35,00' },
      { Name: 'Estland', Versand1: '12,50', Versand2: '35,00' },
      { Name: 'Bulgarien', Versand1: '12,50', Versand2: '35,00' },
      { Name: 'Ungarn', Versand1: '12,50', Versand2: '35,00' },
      { Name: 'Rumänien', Versand1: '12,50', Versand2: '35,00' },
      { Name: 'Kroatien', Versand1: '22,50', Versand2: '49,00' }
    ] 
, selectFood = document.getElementById('food-select')
, listFood_t = document.querySelector('table#food-list tbody') 
  ;
foodInfo.forEach(item=>
  {
  // table listFood elements
  let row           = listFood_t.insertRow()
  row.dataset.ref   = item.Name

  row.insertCell().textContent = item.Name
  row.insertCell().textContent = item.Versand1
    row.insertCell().textContent = item.Versand2

  // food-select
  selectFood.add( new Option(item.Name, item.Name))
  })
selectFood.add( new Option('Alle Länder', 'All'))  // last one...
selectFood.querySelector('option').disabled = true

const tableArticles = listFood_t.querySelectorAll('tr[data-ref]')

tableArticles.forEach(el=>el.className='noDisplay') // none on start...

selectFood.onchange=()=>
  {
  let choose = selectFood.value 
  tableArticles.forEach(art=>
    {
    if (choose==='All' || choose===art.dataset.ref)
      art.classList.remove('noDisplay')
    else
      art.classList.add('noDisplay')
    })
  }

</script>

{% stylesheet %}

table {
  border-collapse: collapse;
  margin-top: .7em;
  width: 100%;
  overflow: hidden;
  border-radius: 15px;
} 
caption {
  font-size: 1.4em;
  font-weight:bold;
}
thead {
  background-color: #efefef;
  font-weight:bold;
}
td {
  padding: .2em .7em;
}
tbody {
  text-align: right;
}
.noDisplay {
  display: none;
}
select {
  background: #efefef;
  border:0;
}
{% endstylesheet %}

{% schema %}
  {
    "name": "Hoco Versand",
    "settings": [
      {
        "type": "text",
        "id": "headline",
        "label": "Überschrift"
      },
      {
        "type": "text",
        "id": "selector",
        "label": "Dropdown Platzhalter"
      },
    ],
    "presets": [{"name": " Hoco Versand"}]  
  }
{% endschema %}