<div class="section versand" >
  <div class="container">
    <h3>List</h3>
    <select id="country-select" >
      <option value="" selected >Select One</option>
    </select> 
    
    <table id="food-list">
      <caption>Food List</caption>
      <table>
          <thead>
            <tr>
              <th>Land</th>
              <th>Teile / Zubehör / Kleidung (EUR / Bestellung)</th>
              <th>Fahrräder (EUR / Bestellung)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Belgien</td>
              <td>4,90</td>
              <td>39,90</td>
            </tr>
            <tr>
              <td>Dänemark</td>
              <td>10,00</td>
              <td>39,00</td>
            </tr>
            <tr>
              <td>Finnland</td>
              <td>10,00</td>
              <td>39,90</td>
            </tr>
            <tr>
              <td>Frankreich</td>
              <td>4,90</td>
              <td>39,90</td>
            </tr>
            <tr>
              <td>Italien</td>
              <td>4,90</td>
              <td>39,90</td>
            </tr>
            <tr>
              <td>Niederlande</td>
              <td>4,90</td>
              <td>39,90</td>
            </tr>
            <tr>
              <td>Schweiz (Achtung: Es fallen zusätzlich Einfuhrsteuer und Zollkosten an)</td>
              <td>15,00</td>
              <td>39,00</td>
            </tr>
            <tr>
              <td>Spanien</td>
              <td>10,00</td>
              <td>39,90</td>
            </tr>
            <tr>
              <td>Österreich</td>
              <td>6,90</td>
              <td>39,90</td>
            </tr>
            <tr>
              <td>Luxemburg</td>
              <td>10,00</td>
              <td>39,00</td>
            </tr>
            <tr>
              <td>Irland</td>
              <td>65,00</td>
              <td>140,00</td>
            </tr>
            <tr>
              <td>Griechenland</td>
              <td>10,00</td>
              <td>39,90</td>
            </tr>
            <tr>
              <td>Portugal</td>
              <td>10,00</td>
              <td>39,90</td>
            </tr>
            <tr>
              <td>Schweden</td>
              <td>10,00</td>
              <td>39,90</td>
            </tr>
            <tr>
              <td>Polen</td>
              <td>12,50</td>
              <td>39,00</td>
            </tr>
            <tr>
              <td>Lettland</td>
              <td>12,50</td>
              <td>35,00</td>
            </tr>
            <tr>
              <td>Litauen</td>
              <td>12,50</td>
              <td>Versand leider aktuell nicht möglich</td>
            </tr>
            <tr>
              <td>Malta</td>
              <td>12,50</td>
              <td>35,00</td>
            </tr>
            <tr>
              <td>Slowakei</td>
              <td>12,50</td>
              <td>35,00</td>
            </tr>
            <tr>
              <td>Slowenien</td>
              <td>12,50</td>
              <td>35,00</td>
            </tr>
            <tr>
              <td>Tschechien</td>
              <td>12,50</td>
              <td>35,00</td>
            </tr>
            <tr>
              <td>Estland</td>
              <td>12,50</td>
              <td>35,00</td>
            </tr>
            <tr>
              <td>Bulgarien</td>
              <td>12,50</td>
              <td>35,00</td>
            </tr>
            <tr>
              <td>Ungarn</td>
              <td>12,50</td>
              <td>35,00</td>
            </tr>
            <tr>
              <td>Rumänien</td>
              <td>12,50</td>
              <td>35,00</td>
            </tr>
            <tr>
              <td>Kroatien</td>
              <td>22,50</td>
              <td>49,00</td>
            </tr>
          </tbody>
        </table>
    </table>
  </div>
</div>


<script>
const
  foodInfo = 
    [ { Name: 'Apple',     Colour: 'Green'  } 
    , { Name: 'Chocolate', Colour: 'Brown'  } 
    , { Name: 'Banana',    Colour: 'Yellow' } 
    ] 
, selectCountry = document.getElementById('country-select')
, listFood_t = document.querySelector('table#country-list tbody') 
  ;
foodInfo.forEach(item=>
  {
  // table listFood elements
  let row           = listFood_t.insertRow()
  row.dataset.ref   = item.Name

  row.insertCell().textContent = item.Name
  row.insertCell().textContent = item.Colour

  // food-select
  selectCountry.add( new Option(item.Name, item.Name))
  })
selectCountry.add( new Option('All Countries', 'All'))  // last one...
selectCountry.querySelector('option').disabled = true

const tableArticles = listFood_t.querySelectorAll('tr[data-ref]')

tableArticles.forEach(el=>el.className='noDisplay') // none on start...

selectCountry.onchange=()=>
  {
  let choose = selectCountry.value 
  tableArticles.forEach(art=>
    {
    if (choose==='All' || choose===art.dataset.ref)
      art.classList.remove('noDisplay')
    else
      art.classList.add('noDisplay')
    })
  }

</script>

{% stylesheet %}

table {
  border-collapse: collapse;
  margin-top: .7em;
  } 
caption {
  font-size: 1.4em;
  font-weight:bold;
  }
thead {
  background-color: #add8e6;
  font-weight:bold;
  }
td {
  padding: .2em .7em;
  width: 8em;
  border: 1px solid grey;
  }
tbody {
  text-align: right;
  }
.noDisplay {
  display: none;
  }
{% endstylesheet %}

{% schema %}
  {
    "name": "Hoco Versand",
    "settings": [],
    "presets": [{"name": " Hoco Versand"}]  
  }
{% endschema %}