<div class="section" style="background-color:{{ section.settings.background-color }};">
  <div class="container">
    <h2 style="color:{{ section.settings.text-color }}!important">{{ section.settings.headline }}</h2>
    <div class="klayvio-form">
      {{ section.settings.form }}
    </div>
  </div>
</div>

{% stylesheet %}

.klayvio-form {
  display: flex;
  justif-content: center;
}
  
{% endstylesheet %}

{% schema %}
  {
    "name": "Hoco Newsletter Sign Up",
    "settings": [
      {
        "type": "text",
        "id": "headline",
        "label": "Überschrift"
      },
      {
        "type": "color",
        "id": "background-color",
        "label": "Hintergrundfarbe",
        "default": "#000000"
      },
      {
        "type": "color",
        "id": "text-color",
        "label": "Textfarbe",
        "default": "#000000"
      },
      {
        "type": "html",
        "id": "form",
        "label": "Klayvio Forumlar"
      },
    ],
    "presets": [{"name": " Hoco Newsletter Sign Up"}]  
  }
{% endschema %}