<div class="section youtube-preview" >
  <div class="container">
    <ul class=" flex flex-wrap gap-x-theme gap-y-12 md:gap-y-6">
      <li class="multi-column grow w-full max-w-none cc-animate-init cc-animate-in">
        <h1>{{ section.settings.headline }}</h1>
        <p>{{ section.settings.text }}</p>
      </li>
      <li class="multi-column grow w-full max-w-none cc-animate-init cc-animate-in">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ section.settings.youtube1 }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </li>
      <li class="multi-column grow w-full max-w-none cc-animate-init cc-animate-in">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ section.settings.youtube2 }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </li>
    </ul>
  </div>
</div>


{% stylesheet %}
  
.youtube-preview.section {
  background: #000;
}
.youtube-preview.section ul {
  display: flex;
  flex-direction: column;
}
.youtube-preview.section ul li h1, .section ul li p {
  color: #fff;
}

  
{% endstylesheet %}



{% schema %}
  {
    "name": "Youtube Channel Preview",
    "settings": [
      {
        "type": "text",
        "id": "headline",
        "label": "Überschrift"
      },
      {
        "type": "text",
        "id": "text",
        "label": "Text",
      },{
        "type": "text",
        "id": "youtube1",
        "label": "Youtube ID 1",
      },{
        "type": "text",
        "id": "youtube2",
        "label": "Youtube ID 2",
      } 
    ],
    "presets": [{"name": "Youtube Preview"}]  
  }
{% endschema %}