<div>
  <div>
    <h1>{{ section.settings.headline }}</h1>
    <p>{{ section.settings.text }}</p>
  </div>
  <div>
  </div>
</div>


{% stylesheet %}

 
{% endstylesheet %}

{% schema %}
  {
    "name": "Youtube Channel Preview",
    "settings": [
      {
        "type": "text",
        "id": "headline",
        "label": "Headline"
      },
      {
        "type": "text",
        "id": "text",
        "label": "Text",
      }      
    ]
  }
{% endschema %}